<!-- <html>
<head>
	<title>Upload Multiple files</title>
</head>
<body>
	<form action = "/upload" method="POST" enctype="multipart/form-data">
		<input type="file" name="file" multiple />
		<input type = "submit" value="Upload">
		<input type="submit" value="Download">
	</form>
</body>
</html> -->
<!doctype html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>